{% extends "base.html" %}

{% block title %}Add URLs to Wikipedia citations{% endblock %}

{% block content %}
<div class="p-2">

  <h2>Articles</h2>

  <p>This service is new and unfinished, the article pages might take a few seconds to load.</p>

<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="title" class="mr-2">Article title</label>
    <input type="text" name="title" class="form-control" id="title">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Lookup</button>
</form>

  <h4>Examples</h4>

  <ul>
    {% for title in articles %}
      <li><a href="{{ url_for('article_page', title=title.replace(' ', '_')) }}">{{ title }}</li>
    {% endfor %}
  </ul>

</div>

{% endblock %}
